#firstBlog, #secondBlog, #thirdBlog {
    height: auto;
    width: 60%;
    opacity: 0.8;
    margin: 40px;
    border-radius: 25px;
    color: white;
}

#menu {
    height: 60vh;
    width: 60vh;
    float: right;
    margin-right: 35px;
    border-radius: 25px;
    opacity: 0.8;

}

#inblog1, #inblog2, #inblog3 {
    text-align: center;
}

