#firstCon {
    width: auto;
    height: auto;
    text-align: center;
    opacity: 0.8;
    border-radius: 25px;
    margin: 35px;
    color: white;
}

#secondCon {
    width: auto;
    height: auto;
    text-align: center;
    opacity: 0.8;
    border-radius: 25px;
    margin: 35px;
    color: white;
}

