#con1 {
    /*black container*/
    width: auto;
    height: auto;
    margin: 35px;
    color: white;
    border-radius: 25px;
    text-align: center;
    z-index: 1;
}

#con2 {
    /*white container*/
    width: 90%;
    height: auto;
    border-radius: 25px;
    z-index: 2;
    text-align: center;

}

#photo {
    /*photo gallery*/
    height: auto;
    width: 85%;
    border-radius: 25px;
}